.about-us-content{
  .aboutusLeft{
    margin-top: -30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;

    h2{
      font-size:45px;
      width:350px;
    }

    img{
      margin-top: 30px;
      background-color: #FFE491;
      width:100%;
    }
  }
};

.aboutusRight {


  .contentaboutus {
    margin-bottom:20%;
    margin-top:20%;

    p {
      width:450px;

      font-size: 21px;
    }

  }

}







.footer{
h4{
  font-size: 30px;
}
  .pic{
width: 100px;
  }
.BottomLeft{

  border-radius: 30px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
h4{
  font-size: 30px;

}
  .contactus{

    border: #111 solid 2px;

    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items:center;
    p{

      a{
        color:#111;
        img{
          margin-top: -2px;
          width: 20px;
        }
      }
    }

  }
  h1{
    font-size: 30px;
  }
}
}
.AboutusBottom{
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.BottomPic {
  margin-top: 50px;

  img {
    width: 150px;
  }
}


@media only screen and  (min-width: 576px) and (max-width: 992px) {
  .about-us-content{

    .aboutusLeft{
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      h2{
        font-size: 30px;
      }
      img{
        width: 55%;
      }

    }
  };
  .aboutusRight {
    .contentaboutus {

      margin-bottom:30px;
      margin-top:30px;
      p {
        width:100%;
        font-size: 21px;
      }

    }


  }



  .footer{
    h4{
      font-size: 30px;
    }
    .pic{
      width: 70%;
    }
    .BottomLeft{
      margin-top: 0px;
      border-radius: 30px;
      padding-left: 0px;
      padding-right: 0px;
      h4{
        font-size: 25px;
      }
      .contactus{
        border: #111 solid 2px;
        padding: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
        align-items:center;
        p{
          a{
            color:#111;
            img{
              margin-top: -2px;
              width: 20px;
            }
          }
        }

      }

    }
  }
}
@media only screen and  (max-width:576px) {
  .about-us-content{
    .aboutusLeft{
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      h2{
        font-size: 25px;
      }
      img{
        margin-top: 50px;
        width: 80%;
      }

    }
  };
  .aboutusRight{
    .contentaboutus{
      p{
        width: 100%;
      }
    }

  }
  .footer{
    h4{
      font-size: 30px;
    }
    .pic{
      width: 40%;
    }
    .BottomLeft{
      margin-top: 0px;
      border-radius: 30px;
      padding-left: 0px;
      padding-right: 0px;
      h4{
        font-size: 25px;
      }
      .contactus{
        border: #111 solid 2px;
        padding: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        justify-items:left;
        p{
          a{
            color:#111;
            img{
              margin-top: -2px;
              width: 20px;
            }
          }
        }

      }

    }
  }
}


