.chrome-extention-content {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    a {
      width: 163px;
      height: 53px;
      color: #fff;
      background-color: #111;
      text-align: center;
      line-height: 53px;
      border-radius: 6px;
      font-weight: bold;
    }
  }
  .ant-carousel {
    .slick-slide {
      text-align: center;
      height: auto;
      //line-height: 160px;
      //background: #364d79;
      overflow: hidden;
      img {
        width: 50% ;
        margin: 0 auto;
      }
    }
    .slick-dots {
      li button {
        height: 10px;
        border-radius: 2px;
        background-color: black;
      }
    }
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
