.ant-layout-header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  .mobile-menu-icon {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    display: none;
  }
  .mobile-tabs {
    > div {
      margin: 0;
      z-index: 10000;
      //transition: all .2s;
      //transform: translateX(100%);
      height: 100%;
      position: relative;

      &.show-menu {
        display: block;
        background: #151515;
        padding: 15px;
        i.anticon-close {
          font-size: 22px;
          color: #fff;
          float: right;
          cursor: pointer;
        }
        ul {
          li {
            line-height: 40px;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  #SneakIntoBasket, #HiddenCosts, #TrickQuestions{
    float: right;
    width : "10%";
    height : "10%"
  }
  .tabs {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      height: 53px;
      li a{
        color: #131314;
        font-size: 16px;
        font-weight: bold;
        margin-right: 32px;
        transition: all .2s;

        &:hover {
          color: #666;
        }

          }

    }
    .report {
      width: 163px;
      height: 53px;
      color: #fff;
      background-color: #111;
      text-align: center;
      line-height: 53px;
      border-radius: 6px;
      font-weight: bold;
      &:hover {
        background-color: #333;
      }
    }
  }
}
.user-toolbar{
    float: right;
    height: .54rem;
    > a {
      color: white;
    }
    .item-search {
      width: 2rem;
    }
    .toolbar-li{
      float: left;
      font-size: .14rem;
      cursor: pointer;
      color: #ccc;
      margin-left: .16rem;
      transition: color .2s;
      & a {
        color: #ccc;
      }
      .dropdown-link {
        color: #ccc;
        transition: color .2s;
        .avatar-image{
          margin-bottom: -10px;
          display: inline-block;
          text-align: center;
          background: #ccc;
          color: #fff;
          white-space: nowrap;
          position: relative;
          overflow: hidden;
          width: 32px;
          height: 32px;
          line-height: 32px;
          border-radius: 16px;
          margin-right: 5px;
        }

        .avatar-image > img{
          width:100%;
          height: 100%;
          display: block;
        }

      }
      .anticon.active {
        color: #2395f1;
      }
      &:hover{
        .dropdown-link {
          color: #2395f1;
        }
      }
      .name {
        margin-left: .08rem;
        color: #fff;
      }

    }

  }
.logo img {
  height: 40px;
}
.overlay {
  top: 60px !important;
  .ant-menu-dark {
    background: #121212;
  }
}
.user-menu {

}
.introduction-content{
  background-color: white;
  width: 100%;
}
.ant-dropdown-menu-item {
  img{
    display: none;
  }
}

.mobile-enter {
  opacity: 0;
  transform: translateX(100%);
}
.mobile-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.mobile-exit {
  opacity: 1;
}
.mobile-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}

@media screen and (max-width: 1000px) {
  .ant-layout-header {
    padding: 0 20px;
    height: 60px;
    .mobile-menu-icon {
      display: block;
    }
    .tabs {
      display: none;
    }
    .menu-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
      z-index: 10;
      display: none;
      &.active {
        display: block;
      }
    }
    .mobile-tabs {
      display: block;
      //display: none;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 250px;
      z-index: 100;
      > div.show-menu {
        //transform: translateX(0);
      }
    }
  }
}
