
.ant-layout {
  min-height: 100vh;
  background-color: white;
  /*background-image: radial-gradient(circle at 60% 100px, #FEDB96, #FFFFFF);*/
}

.ant-layout-content {
  padding: 24px;
  width: 1000px;
  margin: 0 auto;
  &.index-content {
    text-align: left;
    .header-container{
      margin-left: -100px;
      display: grid;
      grid-template-columns: 600px 1000px;
      grid-template-rows: 900px;

      h1 {

        top: 300px;
        font-size: 80px;
        font-weight: bold;
        word-spacing: 10px;
        margin-top: 70px;
        margin-left: -150px;
      }
      h2 {

        top:400px;
        font-size: 34px;
        /*font-size: 18px;*/
        font-weight: bold;
        /*margin-top: 17px;*/
        margin-top: 50px;
        margin-left: -150px;
        margin-bottom:200px;
        /*letter-spacing: 2px;*/
        letter-spacing: 0.1px;
        word-spacing: 3px;
        width: 600px;
        line-height: 60px;
        text-align: left;

      }
      img{
        width: 750px;

      }

    }

    h3{
      font-size: 30px;

    }
    .container1{
      background-color: #FFE491;
      border-radius: 70px;
      padding: 200px 280px 100px 280px;
      width: 1700px;
      margin-left: -370px;
      margin-top:50px;
      margin-bottom: 50px;
      h3{

        font-size: 30px;
        margin-bottom: 100px;
        margin-top: -150px;
        text-align: center;



      }
    .DP-category-container{

      display: grid;
      grid-template-columns: 160px 160px 160px 160px 160px 160px;
      grid-template-rows: 200px;
      grid-gap: 50px;
      h2{
        place-self: center center;
        font-size: 20px;

      }
      div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;



      }

      img{
        width:124px ;
        align-content: center;
        border-radius: 20px;
        place-self: center center;
      }


    } }
    .half-circle1{
      width: 1700px;
      margin-left: -370px;
      margin-top: -100px;

    }
    h3{
      margin-left: -30px;
      text-align: center;
      word-spacing: 4px;
      width: 1000px;
      p{
        font-size: 50px;
        display: inline-block;
        padding: 20px;

      }
      img{
        width: 90px;
        display: inline-block;
        margin-left: 30px;
      }
    }
    .half-circle2{
      width: 1700px;
      margin-left: -370px;
      margin-top: 100px;

    }
    .shopping-web{
      margin-top:80px;
    }
    .content2{
      margin-top: 100px;
    }
    .content3{
      background-color: #FFE491;
      border-radius: 70px;
      padding: 200px 280px 100px 280px;
      width: 1700px;
      margin-left: -370px;
      margin-top: -100px;
      margin-bottom: 50px;
      h1{
        margin-top: 100px;
        font-size: 30px;
        font-weight: bold;

      }
      h2{
        margin-top: -150px;
        font-size: 50px;
        font-weight: inherit;
        text-align: center;
      }
      h3{
        margin-top: 50px;
        font-size: 22px;
        text-align: center;
        margin-left: 70px;
        padding-bottom: 80px;


      }
      h4{
        background-color: #201500;
        border-radius: 10px;
        padding: 10px;
        color:#FFFFFC;
        font-size: 22px;
        text-align: center;
        margin-top: -10px;
        margin-left: 220px;
        width: 700px;

      }

    }
    .content4-container{
      display:grid;
      grid-template-columns: 50% 50%;
      grid-column-gap:200px;
      grid-template-rows: 1000px;

      justify-content: space-around;


      .content4{
      display: grid;
      grid-template-columns: 500px;
      grid-template-rows: 400px 550px;



      .content4-top{
        .content4-top-topic{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:center;
          h1 b{
            font-size: 50px;
          }
        }
        p{
          margin-top: 30px;
          font-size: 25px;
          line-height:40px;
        }


      }
        .content4-bottom-emotionally{
          margin-top: -45px !important;
        }
      .content4-bottom,.content4-bottom-emotionally{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-top:-100px ;
        .group-financially{
          background-color: lightgray;
          padding: 10px;
          font-size: 25px;
          font-weight: lighter;
          width: 500px;
          border-radius: 5px;
          border: 1px solid white;
        }
        .group-emotionally{
          background-color: lightgray;
          padding: 10px;
          font-size: 25px;
          font-weight: lighter;
          width: 500px;
          border-radius: 5px;
          border: 1px solid white;


        }
      }
    }
    }
    .content-table{

      .table-header{
        background-color: #FFE491;
        font-weight: bolder;
        margin-left: -370px;
        margin-bottom: 50px;
        width:1700px;
        padding: 100px 100px 100px 80px;
        border-radius: 300px;
        font-size: 40px;
        text-align: center;


        p{
          padding-top: 10px;
          font-size: 18px;
        }



      }
      .category-table-sneaking,.category-table-otherDP{
       display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 50% 50%;
        border: 2px solid  #D8D8D8;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;


        .category-sneakinto,.category-privacyzuckering{

          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 4;
          justify-self:center;
          align-self:center;
          font-size: 25px;
          font-weight: bold;
        }
        .pattern-type-sneakinto,.pattern-type-privacyzuckering{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          border-left: 1px solid #D8D8D8;
          border-bottom: 1px solid #D8D8D8;
          display: flex;
          img{
            width: 66%;
          }



        }
        .description-sneakinto,.description-privacyzuckering{

          padding-bottom: 27px;
          padding-top: 27px;

          padding-right: 20px;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;

          font-size: 17px;
          justify-self:start;
          align-self:center;
          border-bottom: 1px solid #D8D8D8;

        }
        .description-privacyzuckering{
          padding-bottom: 0px;
          padding-top: 0px;
          padding-right: 0px;
        }

        .pattern-type-hiddencost,.pattern-type-baitandswitch{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          border-left: 1px solid #D8D8D8;
          display:flex;

          img{

           width:65%;
          }

        }

        .description-hiddencost,.description-baitandswitch{
          display: flex;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          font-size: 17px;
          padding-bottom: 27px;
          padding-top: 50px;
          padding-right: 20px;

        }
        .description-baitandswitch{
          padding-top: 0px;
          padding-bottom: 0px;
        }

      }






      .category-table-forcedAction,.category-table-SocialProof,.category-table-Scarcity{
        display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 100% ;
        border: 2px solid #D8D8D8;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

        .category-forcedaction,.category-fakeactivity,.category-fakelowstock{

          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          justify-self:center;
          align-self:center;
          font-size: 25px;
          font-weight: bold;



        }
        .pattern-type-forcedaction,.pattern-type-fakeactivity,.pattern-type-fakelowstock{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          border-left: 1px solid #D8D8D8;

          img{
            width: 100%;
          }

        }
        .description-forcedaction,.description-fakeactivity,.description-fakelowstock{

          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          font-size: 18px;
          justify-self:start;
          align-self:center;
          padding-bottom: 27px;
          padding-top: 27px;

          padding-right: 20px;


        }



      }





      .category-table-misdirection,.category-table-Urgency{
        display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 33.3%  33.3%  33.3% ;

        border: 2px solid #D8D8D8;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

        .category-confirmshaming,.category-fakecountdown{

          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 4;
          justify-self:center;
          align-self:center;
          font-size: 25px;
          font-weight: bold;


        }
        .pattern-type-confirmshaming,.pattern-type-fakecountdown{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          border-left: 1px solid #D8D8D8;
          border-bottom: 1px solid #D8D8D8;
          img{
            width: 100%;
          }

        }
        .description-confirmshaming,.description-fakecountdown{

          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          font-size: 18px;
          justify-self:start;
          align-self:center;
          padding-bottom: 19px;
          padding-top: 27px;

          padding-right: 20px;
          border-bottom: 1px solid #D8D8D8;



        }
        .description-fakecountdown{
          padding-bottom: 22px;
        }

        .pattern-type-visualinterference,.pattern-type-fakelimitedtime{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          border-left: 1px solid #D8D8D8;
          border-bottom: 1px solid #D8D8D8;
          img{
            width: 100%;
          }

        }
        .description-visualinterference,.description-fakelimitedtime{

          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          font-size: 18px;
          justify-self:start;
          align-self:center;

          padding-bottom:13px;
          padding-top: 9px;

          padding-right: 20px;
          border-bottom: 1px solid #D8D8D8;



        }
        .description-visualinterference{
          padding-bottom: 10px;
        }





        .pattern-type-trickquestions,.pattern-type-fakehighdemand{

          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          border-left: 1px solid #D8D8D8;
          display: flex;


          img{
            position: fixed;
           width: 66%;

          }

        }
        .description-trickquestions,.description-fakehighdemand{

          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
          font-size: 18px;
          justify-self:start;
          align-self:center;
          padding-bottom: 15px;
          padding-top: 8px;

          padding-right: 20px;



        }
        .description-trickquestions{
          padding-top: 0px;
          padding-bottom:20px ;
        }

      }




    }


    /*.financially-right {
      margin-top: 100px;

      display: grid;
      justify-content: center;
      grid-template-columns: 340px 340px 340px;
      grid-template-rows: 250px 240px 240px;
      grid-row-gap: 80px;
      .pic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;





      b mark{

        font-size: 25px;
        color: #201500;


      }
         img{
           width: auto;
           height: 200px;
           margin-left: -150px;
         }
      }
    }*/

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }
    #MoneyMan, #Panic{
      float:right;
      margin-left:10px;
      position:relative;
    }
    ul{
      overflow:hidden;
      text-align: center;
      padding-left: 100px
    }
    form {

      div {
        width: 690px;
        position: relative;
        margin: 0 auto;
        input {
          width: 100%;
          height: 67px;
          border: 1px solid #131314;
          padding: 24px 26px;
          font-size: 16px;
          color: #131314;
          border-radius: 8px;
        }
        button {
          border: none;
          padding: 0;
          cursor: pointer;
          position: absolute;
          width: 70px;
          height: 59px;
          top: 4px;
          right: 4px;
          border-radius: 6px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }

    }
  }
}

.search-form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.ant-calendar-year-panel-decade-select-content {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ant-layout-content {
    width: auto;
  }
  .ant-layout-content.index-content form div {
    width: 80%;
  }
}
