
.ant-layout {
  min-height: 100vh;
  background-image: radial-gradient(circle at 60% 100px, #FEDB96, #FFFFFF);
}

.ant-layout-content {
  padding: 24px;
  width: 1000px;
  margin: 0 auto;
  &.index-content {
    text-align: center;
    h1 {
      font-size: 36px;
      font-weight: normal;
    }
    h2 {
      font-size: 18px;
      font-weight: normal;
      margin-top: 17px;
      margin-bottom: 80px;
      letter-spacing: 2px;
    }
<<<<<<< Updated upstream
=======
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }
    #MoneyMan, #Panic{
      float:right;
      margin-left:10px;
      position:relative;
    }
    ul{
      overflow:hidden;
      text-align: center;
      padding-left: 100px
    }
>>>>>>> Stashed changes
    form {

      div {
        width: 690px;
        position: relative;
        margin: 0 auto;
        input {
          width: 100%;
          height: 67px;
          border: 1px solid #131314;
          padding: 24px 26px;
          font-size: 16px;
          color: #131314;
          border-radius: 8px;
        }
        button {
          border: none;
          padding: 0;
          cursor: pointer;
          position: absolute;
          width: 70px;
          height: 59px;
          top: 4px;
          right: 4px;
          border-radius: 6px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }

    }
  }
}

.search-form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.ant-calendar-year-panel-decade-select-content {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ant-layout-content {
    width: auto;
  }
  .ant-layout-content.index-content form div {
    width: 80%;
  }
}
