
.ant-layout {
  min-height: 100vh;
  background-color: white;
  /*background-image: radial-gradient(circle at 60% 100px, #FEDB96, #FFFFFF);*/
}

.ant-layout-content {
  padding: 24px;
  width: 1000px;
  margin: 0 auto;
  &.index-content {
    text-align: left;
    .header-container{
      margin-left: -100px;
      display: grid;
      grid-template-columns: 600px 1000px;
      grid-template-rows: 900px;

      h1 {

        top: 300px;
        font-size: 80px;
        font-weight: bold;
        word-spacing: 10px;
        margin-top: 70px;
        margin-left: -150px;
      }
      h2 {

        top:400px;
        font-size: 34px;
        /*font-size: 18px;*/
        font-weight: bold;
        /*margin-top: 17px;*/
        margin-top: 50px;
        margin-left: -150px;
        margin-bottom:200px;
        /*letter-spacing: 2px;*/
        letter-spacing: 0.1px;
        word-spacing: 3px;
        width: 600px;
        line-height: 60px;
        text-align: left;

      }
      img{
        width: 750px;

      }

    }

    h3{
      font-size: 30px;

    }
    .container1{
      background-color: #FFE491;
      border-radius: 70px;
      padding: 200px 280px 100px 280px;
      width: 1700px;
      margin-left: -370px;
      margin-top:50px;
      margin-bottom: 50px;
      h3{

        font-size: 30px;
        margin-bottom: 100px;
        margin-top: -150px;
        text-align: center;



      }
    .DP-category-container{

      display: grid;
      grid-template-columns: 160px 160px 160px 160px 160px 160px;
      grid-template-rows: 200px;
      grid-gap: 50px;
      h2{
        place-self: center center;
        font-size: 20px;

      }
      div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;



      }

      img{
        width:124px ;
        align-content: center;
        border-radius: 20px;
        place-self: center center;
      }


    } }
    .half-circle1{
      width: 1700px;
      margin-left: -370px;
      margin-top: -100px;

    }
    h3{
      margin-left: -30px;
      text-align: center;
      word-spacing: 4px;
      width: 1000px;
      p{
        font-size: 50px;
        display: inline-block;
        padding: 20px;

      }
      img{
        width: 90px;
        display: inline-block;
        margin-left: 30px;
      }
    }
    .half-circle2{
      width: 1700px;
      margin-left: -370px;
      margin-top: 100px;

    }
    .shopping-web{
      margin-top:80px;
    }
    .content2{
      margin-top: 100px;
    }
    .content3{
      background-color: #FFE491;
      border-radius: 70px;
      padding: 200px 280px 100px 280px;
      width: 1700px;

      margin-left: -370px;
      margin-top: -60px;
      margin-bottom: 50px;
      h2{
        margin-top: -100px;
        font-size: 50px;
        font-weight: bold;
      }
      h3{
        margin-top: 30px;
        font-size: 20px;
        text-align: left;
        margin-left: 5px;
      }
      h1{
        margin-top: 100px;
        font-size: 30px;
        font-weight: bold;

      }
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
    }
    #MoneyMan, #Panic{
      float:right;
      margin-left:10px;
      position:relative;
    }
    ul{
      overflow:hidden;
      text-align: center;
      padding-left: 100px
    }
    form {

      div {
        width: 690px;
        position: relative;
        margin: 0 auto;
        input {
          width: 100%;
          height: 67px;
          border: 1px solid #131314;
          padding: 24px 26px;
          font-size: 16px;
          color: #131314;
          border-radius: 8px;
        }
        button {
          border: none;
          padding: 0;
          cursor: pointer;
          position: absolute;
          width: 70px;
          height: 59px;
          top: 4px;
          right: 4px;
          border-radius: 6px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }

    }
  }
}

.search-form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.ant-calendar-year-panel-decade-select-content {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ant-layout-content {
    width: auto;
  }
  .ant-layout-content.index-content form div {
    width: 80%;
  }
}
